.filter-container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.filter-container .selectFilter{
    display: flex;
    gap: 16px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    margin:16px 0px 16px 0px
}

.filter-container .selectFilter label{
    margin-right: 8px;
}

.filter-container .searchCont{    
    margin:16px 0px 16px 0px
}

.filter-container .searchCont .searchInput{
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    
}

.spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }